*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --main-color:#14ccb4;
    --background-color: #e9e2e2;
    --second-color:#062f4b;
    
}
header .continar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/*large screen*/
@media  (max-width:1100px){
    header .continar{
        width: 1170px;
    }
}
/*medium screen*/
@media  (max-width:992px){
    header .continar{
        width: 970px;
    }
}
/*small screen*/
@media  (max-width:768px){
   header .continar{
        width: 750px;
    }
}
.continar .logo img {
    width: 100px;
    
}
.continar .list{
    position: relative;
}
.continar .list .icon{
    display: flex;
    flex-wrap: wrap;
    width: 30px  ;
    justify-content:flex-end; 
  
}
.continar .icon span{
    margin-bottom: 5px;
    height: 2px;
    background-color: #777;
}
.continar .icon span:first-child{
    width: 100%;
}
.continar .icon span:nth-child(2){
    transition-duration: .3s;
    width: 60%;
}
.continar .icon span:last-child{
    width: 100%;
}
.continar .icon:hover span:nth-child(2){
    width: 100%;
    
}
.continar .list ul {
    list-style: none;
    position: absolute;
    right:0;
    padding: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    display: none;
    z-index: 1;
    transition-duration: .3s;
}
.continar .list ul::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: -28px;
    border-width: 15px;
    border-style: solid;
    border-color:transparent transparent #f6f6f6 transparent;
}
.continar .list:hover ul{
    display: block;
}
.continar .list ul li {
    padding: 15px;
}
.continar .list ul li a {
    display: block;
    color: black;
    text-decoration: none;
    transition-duration: .3s;
} 
.continar .list ul li a:hover{
    padding-left: 15px;
}
@media (max-width:768px){
    header .continar {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }
}

.continar .list ul li:not(:last-child) {
    border-bottom: 1px solid #777;
}
.background{
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 0;
}
.background .continar{ 
    max-width: 265px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.background .continar h1 {
    color: var(--main-color);
    text-align: center;
    font-size: 42px;
}
.background .continar p{
    line-height: 1.8;
}

.second_main .feature_one {
    display: grid;
    grid-template-columns: repeat(3 ,300px);
    padding: 20px; 
    justify-content: space-evenly;
    background-color: var(--background-color);  
}

.second_main .feature_one div{
    text-align: center;
    padding: 20px;
}
.second_main .feature_one div i{
    color: var(--main-color);
    font-size: 50px;
    margin: auto;
}
.second_main .feature_one h3{
    font-weight: 800px;
}
.second_main .feature_one div p {
    color:#777;
    line-height: 1.8;
}
@media (max-width:768px){
    .second_main .feature_one {
        display: block;
    }
}
.special_heading{
    padding: 20px;
    text-align: center;
}
.special_heading .head{
   color: var(--background-color);
   font-weight:800;
   font-size: 70px;
}
.special_heading .head +p{
    margin-top: -20px;
    color:#777;
}
.services .serv{
    padding: 20px;
    margin-left: 130px;
    display: grid;
    grid-template-columns: repeat(3 ,minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: space-evenly;
}
.services .serv .col{
    max-width: 250px;
}

.services .serv .col i {
    color: var(--main-color);
    font-size: 35px;
    flex-basis: 60px;
}

.services .serv div h3 {
    margin-top: -33px;
    margin-left: 50px;
}
.services .serv div p {
    line-height: 1.4;
    margin-top: 10px;
    margin-left: 53px;
    color: #777;
}
.services .serv .col img{
    position: relative;
    height: 300px;

}
.services .serv .col img::after{
    content: "";
    background-color:var(--second-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
 
}
@media (max-width:768px){
    .services .serv {
        display: block;
        margin-left: 10px;
    }
    .services .serv .col img {
        display: none;
    }
}

.portfolio{
    display: flex;
    justify-content: center;
}
.portfolio .product{
    display:flex;
    gap: 50px;

}
.portfolio .product div{
    justify-content:center;
    max-width: 300px;
    
}
.portfolio .product  img{
    width: 320px;
}
.portfolio .product h4 , 
p{
    margin-left:10px ;
}
.portfolio .product p{
    line-height: 1.5;
    color: #777;
}
@media (max-width:768px){
    .portfolio .product{ 
        
        display: block;
    }
}

.about {
    display: flex;
    justify-content:space-evenly;
}
@media(max-width:768px){
    .about {
        margin: 10;
        display: block;
    }
    .about img{
        margin-left: 20px;
    }
}
.about img {
    max-width: 220px;
    position: relative;
}
.about img::after{
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
}
.about .caption{
    flex-basis: calc(100% - 500px);
}
.about hr {
    border-color:var(--main-color) ;
    width: 50%;
    display: inline-block;
    margin-left: 13px; 
}
.about .before_hr{
    font-weight: 800;
    line-height: 1.8;
}
.about .after_hr{
    color: #777;
    line-height: 1.8;
}
